Welcome to {{ project_name }}'s documentation!
==========={% for _ in project_name %}={% endfor %}=================

.. toctree::
   :maxdepth: 2
   :caption: Contents:



Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
