# {{ project_name }}

[![Poetry](https://img.shields.io/endpoint?url=https://python-poetry.org/badge/v0.json)](https://python-poetry.org/)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/charliermarsh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![Imports: isort](https://img.shields.io/badge/%20imports-isort-%231674b1?style=flat&labelColor=ef8336)](https://pycqa.github.io/isort/)
[![Checked with mypy](http://www.mypy-lang.org/static/mypy_badge.svg)](http://mypy-lang.org/)
[![codecov](https://codecov.io/gh/{{ username }}/{{ pypi_name }}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ username }}/{{ pypi_name }})
{% if add_docs == "yes" %}[![Documentation Status](https://readthedocs.org/projects/{{ module*name.replace("*", "") }}/badge/?version=latest)](https://{{ module_name.replace("_", "") }}.readthedocs.io/en/latest/?badge=latest){% endif %}
[![CI](https://github.com/{{ username }}/{{ pypi_name }}/actions/workflows/ci.yml/badge.svg?branch=main)](https://github.com/{{ username }}/{{ pypi_name }}/actions/workflows/ci.yml)
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/{{ pypi_name }})](https://pypi.org/project/{{ pypi_name }})
[![PyPI](https://img.shields.io/pypi/v/{{ pypi_name }})](https://pypi.org/project/{{ pypi_name }})
[![PyPI - License](https://img.shields.io/pypi/l/{{ pypi_name }})](#license)

> {{ project_description }}

## Installation

You can get this project via `pip`

```bash
$ pip install {{ pypi_name }}
```

{% if is_app %}
But we **highly recommend** you install this project using [pipx](https://pypa.github.io/pipx/)

```bash
$ pipx install {{ pypi_name }}
```

{% else %}
Or, if you're using [Poetry](https://python-poetry.org)

```bash
$ poetry add {{ pypi_name }}
```

{% endif %}

## License

Copyright © 2023, {{ author }}

This project is licensed under the [GNU GPL v3+](https://github.com/{{ username }}/{{ pypi_name }}/blob/main/LICENSE.txt).

In short, this means you can do anything with it (distribute, modify, sell) but if you were to publish your changes, you must make the source code and build instructions readily available.

If you are a company using this project and want an exception, email me at [{{ email }}](mailto:{{ email }}) and we can discuss.
